# C C++
*.o
*.obj
*.exe
# 跟踪文件
!.vscode/
.idea/
venv/
!.gitignore
!*.md
# 忽略所有除.h .c .cpp .md所有文件
/leetcode/*
!leetcode/*.h
!leetcode/*.c
!leetcode/*.cpp
!leetcode/*.cc
!leetcode/*.md
!leetcode/*.py
!leetcode/*.pyw
/nowcoder/*
!nowcoder/*.h
!nowcoder/*.c
!nowcoder/*.cpp
!nowcoder/*.md
/projecteuler/*
!projecteuler/*.h
!projecteuler/*.c
!projecteuler/*.cpp
!projecteuler/*.md